In [1]:
import sqlite3

In [2]:
#connect to database
connection = sqlite3.connect('example.db')

In [3]:
#creating cursor
cursor = connection.cursor()

In [4]:
#create table
cursor.execute('''
    Create Table If Not Exists employees(
        id Integer Primary Key,
        name Text Not Null,
        age Integer,
        department Text
        )
            ''')
connection.commit()

In [6]:
cursor.execute('''
    Select * from employees
            ''')

In [10]:
#Insert the data table:
cursor.execute('''
        Insert Into employees(name,age,department)
                values('Agrim',19,'Student')
        ''')
cursor.execute('''
        Insert Into employees(name,age,department)
                values('Neha',27,'Space Engineer')
        ''')
cursor.execute('''
        Insert Into employees(name,age,department)
                values('Ansh',19,'ML Engineer')
        ''')

#commit:
connection.commit()

In [11]:
#query the data from table:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

#printing the data:
for row in rows:
    print(row)

(1, 'Agrim', 19, 'Student')
(2, 'Neha', 27, 'Space Engineer')
(3, 'Ansh', 19, 'ML Engineer')

In [13]:
#update data:
cursor.execute('''
UPDATE employees
SET age = 20
where name = "Agrim"
''')
connection.commit()

In [14]:
cursor.execute('Select * from employees')
rows = cursor.fetchall()

#printing the data:
for row in rows:
    print(row)

(1, 'Agrim', 20, 'Student')
(2, 'Neha', 27, 'Space Engineer')
(3, 'Ansh', 19, 'ML Engineer')

In [15]:
#delete The data:
cursor.execute('''
DELETE from employees
where name = "Agrim"
                ''')
connection.commit()

cursor.execute('Select * from employees')
rows = cursor.fetchall()

#printing the data:
for row in rows:
    print(row)

(2, 'Neha', 27, 'Space Engineer')
(3, 'Ansh', 19, 'ML Engineer')

In [20]:
#small project:
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

#inserting mass data in DB
cursor.executemany('''
Insert into sales(date,product,sales,region)
                values(?,?,?,?)
''',sales_data)

connection.commit()

In [21]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [22]:
#closing connection:
connection.close()

In [23]:
# Now if i try to fetch data
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.